.action-buttons {

  display: flex;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      width: 25px;
      height: 25px;
      background-color: rgba($light, 0.1);
      border-radius: 50%;
      font-size: 12px;
      font-weight: 700;

      &:not(:last-child) {
        margin-right: 7px;
      }
    }
}
