// main: ../main.scss
.company {
	.company-details {
		line-height: 1.2;


	}

	img {
		border-radius: 50%;
	}

	h5 {
		font-size: 14px;
	    color: #516975;
	    font-weight: 400;
	    margin-bottom: 0;
	}

		span {
			font-size: 11px;
			color: #607d8b;
		}
	.table thead tr th {
		color: #05353e;
	}
}

	.earning-heading {
		h6 {
			font-size: 14px;
		    color: #05353e;
		    font-weight: 500;
		}

		p {
			font-size: 13px;
		    margin: 5px 0;
		    color: #516975;
		}
	}


	.earning-desc {

		h6 {
			font-size: 13px;
		    font-weight: 400;
		    color: #516975;
		    margin:0;
		}
		p {
			font-size: 25px;
		    font-weight: 400;
		    color: #05353e;
		    margin: 0;
		}

		.icon-section {
		    width: 55px;
		    height: 55px;
		    border-radius: 50%;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    margin: 0 10px;

		    i {
		    	font-size: 20px;
			    font-weight: 500;
		    }
		}
	}


.table-dashboard {
		table tbody tr td {
			font-size: 13px;
			font-weight: 400;
		}

		.table tbody tr td:not(:last-child)  {
			color: #516975;
		}

		.table thead tr th {
			color: #05353e;
			font-size: 14px;
		}


}


@include media-breakpoint-down(md) {
  	.earning-desc {
  		p {
  			font-size: 16px;
  		}
  	}

  	.earning-button {
  		display: none;
  	}
}

.table-analytics {
	thead {
		tr {
			th {
				color: $text-light;
		    text-transform: uppercase;
		    font-size: 12px;
		    font-weight: 400;
				border: none;
			}

		}

		& tr:first-child {
			th {
				padding: 5px 10px;
			}
		}
	}
	tbody {
		tr {
			td {
				font-size: 13px;
    		font-weight: 400;

				&:nth-child(2) {
					color: $primary;
				}

				&:nth-child(8) {
					color: $success;
				}
			}
		}
	}
}

.categorized-stats {
	thead {
		tr {
			th {
				color: $text-light;
		    text-transform: uppercase;
		    font-size: 12px;
		    font-weight: 400;
				border: none;
			}

		}
	}
	tbody {
		tr {
			td {
				font-size: 13px;
    		font-weight: 400;

				&:nth-child(1) {
					color: #000;
				}

				&:nth-child(2) {
					color: $primary;
				}
			}
		}
	}
}

.named-stats {
	thead {
		tr {
			th {
				color: $text-light;
		    text-transform: uppercase;
		    font-size: 12px;
		    font-weight: 400;
				border: none;
			}

		}
	}
	tbody {
		tr {
			td {
				font-size: 13px;
    		font-weight: 400;
			}
		}
	}
}

.order-stats {
	thead {
		tr {
			th {
				color: $text-light;
		    text-transform: uppercase;
		    font-size: 12px;
		    font-weight: 400;
				border: none;
			}

		}
	}
	tbody {
		tr {
			td {
				font-size: 13px;
    		font-weight: 400;
				&:first-child {
					width: 50px;
					max-width: 50px;
				}
				img {
					width: 35px;
					max-width: 35px;;
				}
			}
		}
	}
}
