a.bg-primary:hover {
    background-color: $primary !important;
    color: #fff !important;
}

a.bg-secondary:hover {
    background-color: #6582b7 !important;
    color: #fff !important;
}

a.bg-success:hover {
    background-color: $success !important;
    color: #fff !important;
}

a.bg-danger:hover {
    background-color: $danger !important;
    color: #fff !important;
}

a.bg-warning:hover {
    background-color: $warning !important;
    color: #fff !important;
}

.bg-aristocrat {
    background-color: #d77df5 !important;
}

a.bg-info:hover {
    background-color: $info !important;
    color: #fff !important;
}

.decoration-none li {
    list-style: none;
}