
.social-widget .social-header.box-facebook {
    background: #1057a5;
}

.social-widget .social-header.box-youtube {
    background: #fb2044;
}

.social-widget .social-header.box-dribbble {
    background: #ea4a89;
}

.social-widget .social-header.box-twitter {
    background: #08b1f1;
}

.social-widget .social-header.box-linkedin {
    background: #428bdc;
}

.social-widget .social-header {
    padding: 15px;
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.social-widget .social-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}
