.fa-round {
    border-radius: 50%;
}

.fb-md {
    padding: 13px;
    font-size: 16px;
    text-decoration: none;
    background: #3B5998;
    color: white;
}

.tw-md {
    padding: 13px;
    font-size: 16px;
    text-decoration: none;
    background: #55ACEE;
    color: white;
}

.gplus-md {
    padding: 13px;
    font-size: 16px;
    text-decoration: none;
    background: #dd4b39;
    color: white;
}

.li-md {
    padding: 13px;
    font-size: 16px;
    text-decoration: none;
    background: #007bb5;
    color: white;
}

.you-md {
    padding: 13px;
    font-size: 16px;
    text-decoration: none;
    background: #ff0000;
    color: white;
}

.drop-md {
    padding: 13px;
    font-size: 16px;
    text-decoration: none;
    background: #0061ff;
    color: white;
}

.dbl-md {
    padding: 13px;
    font-size: 16px;
    text-decoration: none;
    background: #ea4c89;
    color: white;
}

.tblr-md {
    padding: 13px;
    font-size: 16px;
    text-decoration: none;
    background: #1f2936;
    color: white;
}

