.pos-wrapper {
    background-color: #ffffff;
    margin-bottom: 15px;
    overflow-x: hidden;
}

.custom_list li {
    list-style: none;
}

.pos_list {
    li {
        padding: 0 5px;
    }

    img {
        width: 15px;
        height: 15px;
    }

    a:focus {
        color: $info;
    }
}

.super-sale-list {
    border-bottom: .5px solid $border-color;
    margin-bottom: 10px;
    padding-bottom: 10px;

    img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    a:hover {
        color: $info;
    }
}

.pos_inputs {
    i {
        font-weight: 600;
    }
}

.date_time_wrapper {
    background-color: $border-color;
    padding: 8px;
    font-weight: 500;
    font-size: 12px;
    color: $primary;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

table.pos_table-1 input {
    display: block;
    width: 100%;
    border: 0;
    color: #05353e;
    font-size: 15px;
}

.pos_table-1.table > thead {
    border: 1px solid #f7f7f7;
}

.pos_table-1 th,
.pos_table-1 thead th {
    border: 0px;
    background-color: #f7f7f7;
    color: $primary;
    font-weight: 300;
    font-size: 12px;
}

table.scroll thead {
    display: block;
}

table.scroll tbody td,
table.scroll thead th {
    width: 14%;
}

table.pos_table-1 thead th {
    vertical-align: middle;
    padding: 7px 10px !important;
    font-family: $font-family-opensans;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

table.scroll tbody {
    display: block;
}

table.scroll tbody {
    height: 225px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sub-total .row {
    margin-right: 0px !important;
}

.shop-details {
    .col-form-label {
        font-size: 14px;
        color: #05353e;
    }
}
